.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 125, 177);
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
