<div *ngIf="user && profile" class="profile">
    <div style="height: 30px;"></div>
    <div *ngIf="edit" style="padding-left: 20px;position: absolute;">
        <button (click)="saveEdit()" type="button" class="btn btn-primary">Save</button>
    </div>
    <div class="my-data">
        <div class="image">
            <div class="circl">
                <label for="customFile" style="cursor: pointer;">
                    <img class="img" id="selectedImage" [src]="selectedImage"
                        alt="example placeholder"
                        onerror="this.src='../../../../assets/Unknown_person.jpg'">
                    <input *ngIf="email === profile?.email" type="file" class="form-control d-none" id="customFile" (change)="onImageSelected($event)"/>
                </label>
            </div>
            <h6 class="name">{{profile.firstname}} {{profile.lastname}}</h6>
        </div>
    </div>
    <br>

    <div *ngIf="user.id !== profile.id" class="buttons">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="!block" style="width: 100px;height: 60px;font-size: 23px;" type="button" class="btn btn-outline-danger">Block</button>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="block" style="width: 100px;height: 60px;font-size: 23px;" type="button" class="btn btn-danger">Blocked</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" *ngIf="!block">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to block <span style="font-weight: bolder;">{{profile.firstname}}</span>?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="blockUser()" type="button" data-bs-dismiss="modal" class="btn btn-danger">Block</button>
                </div>
            </div>

            <div class="modal-content" *ngIf="block">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to unblock <span style="font-weight: bolder;">{{profile.firstname}}</span>?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="unblockUser()" type="button" data-bs-dismiss="modal" class="btn btn-danger">Unblock</button>
                </div>
            </div>
        </div>
    </div>
    
    <div style="width: 100%;justify-content: center;display: flex;height: calc(100% - 360px);" *ngIf="user.id === profile.id">
        <app-all-users [me]="user" (user)="selectUser($event)"></app-all-users>
    </div>
</div>
